.home_page_text_info {
  color: white;
  font-size: 60px;
  padding-top: 100px;
  @media only screen and (max-width: 768px) {
    font-size: 50px;
  }
  .home_page_text_info_color_yellow {
    color: yellow;
  }
  .home_page_text_info_border_bottom {
    border-bottom: 4px solid white;
  }
}

.product_card_right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 8px;
  background-color: yellowgreen;
  font-size: 10px;
  border-radius: 0 0 0 5px;
}
.discount_sena {
  background-color: red;
  color: white;
}
.home_page_header_padding_top {
  padding-top: 60px;
}
.product_skidka {
  text-decoration: line-through;
}
.product_after_discount {
  margin-left: 30px;
  font-size: 16px;
}
.product_order_button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 5px;
}
