.language_select {
  background-color: #0b7909;
  outline: none;
  border: none;
  color: #fff;
  @media only screen and (min-width: 568px) {
    margin-left: auto;
    background-color: #0b7909;
    outline: none;
    border: none;
    color: #fff;
  }
}
.search_container {
  position: relative;
  overflow: hidden;
  .search_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.navbar_response_logo {
  color: #fff;
  @media only screen and (min-width: 568px) {
    display: none;
  }
}
.navbar_response_search {
  outline: none;
  padding: 3px 10px;
  border-radius: 3px;
  border: none;
  @media only screen and (min-width: 568px) {
    display: none;
  }
}
.logo {
  font-size: 50px;
  width: 30%;
}
.store_region_no_plece {
  h4 {
    font-size: 20px;
    font-weight: 100;
  }
  h1 {
    font-size: 35px;
    font-family: cursive;
    margin: 2px 0;
    color: #ffff00;
  }
}
.call_center_phone_number {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  .call_center_icon {
    margin-right: 10px;
  }
}

.navbar_items_icon {
  margin-right: 10px;
}
.navbar_items_text {
  @media only screen and (max-width: 668px) {
    display: none;
  }
}
.acteve_link {
  color: #ffff00;
}

#dropdown_register_shop:hover #dropdown_register {
  display: block;
  transition: display 2s;
}

#dropdown_register {
  position: absolute;
  background-color: aliceblue;
  padding: 10px;
  top: 40px;
  z-index: 1000;
  border-radius: 7px;
  color: black;
  display: none;

  .dropdown_register_text {
    color: black;
    padding: 5px 3px;
  }

  @media only screen and (max-width: 568px) {
    left: -120px;
  }
}
